<div class="box box-success">
   <div class="box-header with-border">
      <h3 class="box-title">Task history</h3>
      <div class="box-tools pull-right">
         <i class="fa fa-refresh fa-sm icon-refresh" id="refresh-history-icon"></i>
         <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
      </div>
   </div>
   <!-- /.box-header -->
   <div class="box-body">
      <div class="table-responsive">
         <table class="table no-margin task-history">
            <thead>
               <th>Task Type</th>
               <th>Task Id</th>
               <th>Task Status URL</th>
               <th>Created</th>
            </thead>

            <tbody>

            </tbody>
         </table>
      </div>
   </div>
</div>